<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>EventosApp</title>
<link rel="stylesheet" href="style/style.css"/>
</head>
<body>

	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Evento</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a class="waves-effect waves-light btn" href="/eventos"><i
							class="material-icons left">list</i>Listar evento</a></li>
				</ul>
			</div>
		</nav>
	</header>


	<div th:each="evento : ${evento}" class="container detalheEvento">
		<div class="row">
			<p>
				Nome: <span th:text="${evento.nome}"></span>
			</p>
			<p>
				Local: <span th:text="${evento.local}"></span>
			</p>
			<p>
				Data: <span th:text="${evento.data}"></span>
			</p>
			<p>
				Horario: <span th:text="${evento.horario}"></span>
			</p>
		</div>
	</div>
	<div class="container formConvidado">
		<th:block th:include="mensagemValidacao"></th:block>
	
		<form method="post">
			Nome: <input type="text" value="" name="nomeConvidado" /> RG: <input
				type="text" value="" name="rg" />
			<button class="waves-effect waves-light btn" type="submit">Adicionar
			</button>
		</form>
	
	</div>
	<div class="container tabelaConvidados">
	<h5 style="text-align: center;">Lista Convidados</h5>
	<table>
		<thead>
			<tr>
				<th>Nome convidado</th>
				<th>RG</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="convidado : ${convidados}">
				<td><span th:text="${convidado.nomeConvidado}"></span></td>
				<td><span th:text="${convidado.rg}"></span></td>
				<td><a class="waves-effect waves-light btn-small" 
					th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}"><i
			class="material-icons">delete </i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>
